In [23]:
import pandas as pd
import requests

In [24]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [25]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [26]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,156.165,8.706,25881
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,123.846,8.695,19642
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,80.937,8.575,11869
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,84.830,8.567,15255
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,49.635,8.542,8151

In [27]:
df = pd.DataFrame()

In [28]:
df

Empty DataFrame
Columns: []
Index: []

In [31]:
df = pd.DataFrame(columns=['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count'])

# Your loop to append data
for i in range(1, 429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = pd.concat([df, temp_df], ignore_index=True)

C:\Users\SC\AppData\Local\Temp\ipykernel_6120\2172828981.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp_df], ignore_index=True)

In [32]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,156.165,8.706,25881
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,123.846,8.695,19642
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,80.937,8.575,11869
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,84.830,8.567,15255
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,49.635,8.542,8151
...,...,...,...,...,...,...,...
8555,70578,Trespass,Kyle and Sarah Miller have it all: a huge gate...,2011-10-13,19.167,5.514,1098
8556,385332,Terminal,"In the dark heart of a sprawling, anonymous ci...",2018-05-10,16.169,5.500,760
8557,11523,View from the Top,No one thought Donna would go very far. But wh...,2003-03-21,10.954,5.500,528
8558,313943,Revolt,The story of humankind's last stand against a ...,2017-07-01,17.728,5.500,347
8559,11817,Bulletproof Monk,A mysterious and immortal Tibetan kung fu mast...,2003-03-28,19.228,5.512,871

In [33]:
df.shape

(8560, 7)

In [34]:
df.to_csv('movies.csv')